# Ignorar a pasta de vídeos gerados pelos testes
cypress/videos/

# Ignorar a pasta de screenshots
cypress/screenshots/

# Ignorar arquivos de configuração do ambiente que contêm dados sensíveis
cypress.env.json

# Ignorar a pasta de dependências do Node
node_modules/

# Ignorar arquivos gerados pelo sistema operacional
.DS_Store            # Para macOS
Thumbs.db           # Para Windows

# Ignorar arquivos de log
*.log

# Ignorar arquivos de cache
.cache/

# Ignorar o Cypress.env.json
cypress.env.json
